body {
    font-family: 'Arial', sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 0px;
}


.table-container {
    max-width: 95%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}
h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #333;
    text-align: center;
}

.btn {
    margin-bottom:10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background: #f7f7f7;
}


.container{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-top: 1px solid #ccc;
}

.mahasiswa {
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-top: 0.5px solid #e8e8e8;
}

.container-box{
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}


.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
.form-group input,
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 auto;
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}
.form-group input:focus,
.form-group select:focus {
    border-color: #007bff;
}

.container-detail {
    margin-top: 20px;
}

.isi-detail .box {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 80%;
    margin: 50px auto;
    gap: 20px;
}

.label-content span {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 90%; /* Ensure the span takes up the full width of the container */
    padding-left: 10px; /* Optional: add some padding to the left if needed */
    white-space: nowrap;
}

.label-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-content span {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 50%;
    padding-left: 10px;
}

.box-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

.buttons-action {
    margin-bottom: 10px;
}


